* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
}

header {
    text-align: center;
    margin: 20px;
    font-size: 1.75em;
}

.container {
    margin: 0 20px;
    overflow: hidden;
}

.section {
    position: relative;
    padding: 20px;
    background-color: lightgray;
    border: 1px solid black;
    font-size: 1em;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 240px;
}

.title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333333;
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 1.25em;
    text-decoration: none;
}

#section1 .title {
    background-color: #4caf50;
}

#section2 .title {
    background-color: #2196f3;
}

#section3 .title {
    background-color: #f44336;
}

p {
    margin-top: 40px;
}

@media (min-width: 1041px) {
    .section {
        width: calc(33.33% - 20px);
    }
}

@media (min-width: 768px) and (max-width: 1040px) {
    .section {
        width: calc(50% - 20px);
        min-height: 240px;
    }

    #section3 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode header {
    color: #ffffff;
}

.dark-mode .container {
    background-color: #1e1e1e;
}

.dark-mode .section {
    background-color: #2a2a2a;
    border-color: #444444;
}

.dark-mode .title {
    background-color: #444444;
    border: 1px solid black;
}

.dark-mode #section1 .title {
    background-color: #388e3c;
}

.dark-mode #section2 .title {
    background-color: #1976d2;
}

.dark-mode #section3 .title {
    background-color: #d32f2f;
}

.dark-mode p {
    color: #cccccc;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: white;
    }

    .section {
        background-color: #2a2a2a;
        border-color: #444444;
    }

    .title {
        background-color: #444444;
        border: 1px solid black;
    }

    #section1 .title {
        background-color: #388e3c;
    }

    #section2 .title {
        background-color: #1976d2;
    }

    #section3 .title {
        background-color: #d32f2f;
    }

    p {
        color: #cccccc;
    }
}
